image: thulioqueiroz/node10:latest
variables:
  FULL_PATH: '/var/www/site.com.br'
  APP_PATH: '/home/ubuntu/aplicacoes'
cache:
  paths:
    - node_modules/
stages:
  - build
  - test
  - deploy
package:
  stage: build
  before_script:
    - echo "Job de empacotamento"
  script:
    - yarn install
    - echo "$SITE_STAGING_ENV" >> .env.staging
    - yarn run build --mode staging
    - tar -czvf dist.tar.gz dist/*
  artifacts:
    name: $CI_JOB_NAME
    paths:
     - dist/*
  only:
    - master
