image: thulioqueiroz/node10:latest
variables:
  FULL_PATH: '/var/www/site.com.br'
  APP_PATH: '/home/ubuntu/aplicacoes'
cache:
  paths:
    - node_modules/
stages:
  - build-staging
  - test-staging
  - deploy-staging
  - build-live
  - test-live
  - deploy-live
package:
  stage: build-staging
  before_script:
    - echo "Job de empacotamento"
  script:
    - yarn install
    - mv "$STAGING_ENV" .env.staging
    - yarn run build --mode staging
    - tar -czvf dist.tar.gz dist/*
  artifacts:
    name: $CI_JOB_NAME
    paths:
     - dist/*
  only:
    - staging
package:
  stage: build-live
  before_script:
    - echo "Job de empacotamento"
  script:
    - yarn install
    - mv "$LIVE_ENV" .env
    - yarn run build
    - tar -czvf dist.tar.gz dist/*
  artifacts:
    name: $CI_JOB_NAME
    paths:
     - dist/*
  only:
    - master
