image: thulioqueiroz/node10:latest
variables:
cache:
  paths:
    - node_modules/
stages:
  - build-live
  - test-live
  - deploy-live
  - build-hom
  - test-hom
  - deploy-hom
package-live:
  stage: build-live
  before_script:
    - echo "Job de empacotamento"
  script:
    - yarn install
    - echo $ENV >> .env
    - yarn run build
    - tar -czvf dist.tar.gz dist/*
  artifacts:
    name: $CI_JOB_NAME
    paths:
     - dist.tar.gz
  only:
    - master
deploy-live:
  image: thulioqueiroz/debian9-ansible
  stage: deploy-live
  before_script:
    - echo "antes do deploy"
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIV_KEY" >> ~/.ssh/id_rsa.pem
    - chmod 600 ~/.ssh/id_rsa.pem
    - eval "$(ssh-agent -s)"
    - ssh-add ~/.ssh/id_rsa.pem
  script:
    - echo "durante do deploy"
    - ssh-keyscan -H $IP_SERVER >> ~/.ssh/known_hosts
    - scp -r producao.yml producao.dockerfile accesscredito.com.br.conf dist.tar.gz $USER_SSH@$IP_SERVER:$APP_PATH
    - ssh $USER_SSH@$IP_SERVER "$SCRIPT_DEPLOY" 
  dependencies:
    - package-live
  environment:
    name: live
    url: $DNS
  only:
  - master
package-hom:
    stage: build-hom
    before_script:
      - echo "Job de empacotamento"
      - echo $ENV_STAGING
      - echo "$ENV_STAGING"
      - echo $ENV_STAGING >> .env.staging
      - cat .env.staging
    script:
      - yarn install
      - echo "$ENV_STAGING" >> .env.staging
      - yarn run build --mode staging
      - tar -czvf dist.tar.gz dist/*
    artifacts:
      name: $CI_JOB_NAME
      paths:
      - dist.tar.gz
    only:
      - staging
deploy-hom:
    image: thulioqueiroz/debian9-ansible
    stage: deploy-hom
    before_script:
      - echo "antes do deploy"
      - mkdir -p ~/.ssh
      - echo "$SSH_PRIV_KEY_HOM" >> ~/.ssh/id_rsa.pem
      - chmod 600 ~/.ssh/id_rsa.pem
      - eval "$(ssh-agent -s)"
      - ssh-add ~/.ssh/id_rsa.pem
    script:
      - echo "durante do deploy"
      - ssh-keyscan -H $IP_SERVER >> ~/.ssh/known_hosts
      - scp -r producao.yml producao.dockerfile accesscredito.com.br.conf dist.tar.gz $USER_SSH@$IP_SERVER:$APP_PATH
      - ssh $USER_SSH@$IP_SERVER "$SCRIPT_DEPLOY" 
    dependencies:
      - package-hom
    environment:
      name: homologacao
      url: $DNS_HOM
    only:
    - staging
