image: thulioqueiroz/node10:latest
variables:
cache:
  paths:
    - node_modules/
stages:
  - build-staging
  - test-staging
  - deploy-staging
  - build-live
  - test-live
  - deploy-live
package-hom:
  stage: build-staging
  before_script:
    - echo "Job de empacotamento"
  script:
    - yarn install
    - mv "$STAGING_ENV" .env.staging
    - yarn run build --mode staging
    - tar -czvf dist.tar.gz dist/*
  artifacts:
    name: $CI_JOB_NAME
    paths:
     - dist.tar.gz
  only:
    - staging
deploy:
  image: thulioqueiroz/debian9-ansible
  stage: deploy-staging
  before_script:
    - echo "antes do deploy"
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIV_KEY_HOM" >> ~/.ssh/id_rsa.pem
    - chmod 600 ~/.ssh/id_rsa.pem
    - eval "$(ssh-agent -s)"
    - ssh-add ~/.ssh/id_rsa.pem
  script:
    - echo "durante do deploy"
    - ssh-keyscan -H $IP_SERVER_HOM >> ~/.ssh/known_hosts
    - scp -r dist.tar.gz $USER_SSH_HOM@$IP_SERVER_HOM:$APP_PATH
  dependencies:
    - package-hom
  environment:
    name: homologacao
    url: http://$IP_SERVER_HOM
  only:
  - staging    
package-prod:
  stage: build-live
  before_script:
    - echo "Job de empacotamento"
  script:
    - yarn install
    - mv "$LIVE_ENV" .env
    - yarn run build
    - tar -czvf dist.tar.gz dist/*
  artifacts:
    name: $CI_JOB_NAME
    paths:
     - dist/*
  only:
    - master
  deploy:
  image: thulioqueiroz/debian9-ansible
  stage: deploy-live
  before_script:
    - echo "antes do deploy"
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIV_KEY_HOM" >> ~/.ssh/id_rsa.pem
    - chmod 600 ~/.ssh/id_rsa.pem
    - eval "$(ssh-agent -s)"
    - ssh-add ~/.ssh/id_rsa.pem
  script:
    - echo "durante do deploy"
    - ssh-keyscan -H $IP_SERVER_HOM >> ~/.ssh/known_hosts
    - scp -r dist.tar.gz $USER_SSH_HOM@$IP_SERVER_HOM:$APP_PATH
  dependencies:
    - package-prod
  environment:
    name: live
    url: http://$IP_SERVER_HOM
  only:
  - master
